@charset "UTF-8";
/*estilos generales */
* {
  margin: 0px;
  padding-top: 0px;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.padre {
  display: flex;
  flex-flow: column nowrap; }

.margen-interno {
  padding: 0 50px; }

.footer {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; }

.footer__pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.footer__a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center; }
  .footer__a .footer__informacion {
    color: black;
    text-align: center; }

.footer__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center; }

/*-------------------------------------------estilos para Inicio---------------------------------------------------------------*/
.bodyInicio {
  font-family: "Montserrat", sans-serif;
  background: url(../imagenes/Home.png);
  background-position: center;
  background-size: cover; }

.headerInicio {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh; }

.menu {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 70px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

/*------------------------------------------import del logo componente con nesting---------------------------------------------*/
.menu {
  height: 60px; }

.logo {
  flex: 1 1 auto;
  padding: 10px; }
  .logo a {
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .logo a img {
      border-radius: 10px; }
  .logo a:hover {
    color: #a29999; }

/*------------------------------------------import nav paginas componente con nesting---------------------------------------*/
.nav {
  flex: 5 1 auto;
  justify-content: center; }
  .nav a {
    color: #451111;
    font-size: 20px;
    font-weight: 25px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px; }
  .nav a:hover {
    color: #a29999; }

/*------------------------------------------import seccionNavIconos componente con nesting----------------------------------*/
.social {
  flex: 1 1 auto;
  display: flex; }
  .social a {
    color: black;
    font-size: 30px;
    padding: 0 5px; }
  .social a:hover {
    color: #a29999; }

.texto-principal {
  height: 700px;
  display: flex;
  flex-direction: column; }

.h1-index {
  font-size: 35px;
  color: aliceblue;
  font-weight: 300px;
  background-color: black;
  line-height: 1.6;
  text-align: center;
  margin-top: 5px; }

ul li {
  font-size: 30px; }

.ulInicio {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px; }

.liCenter {
  display: flex;
  align-items: center; }

.img1 {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 30%; }

/*------------------------------------------------estilos aplicados nosotros.html---------------------------------------------------------*/
.bodyNosotros, .bodyContacto {
  font-family: "Montserrat", sans-serif;
  background-color: #b2e6dd;
  height: 100vh; }

.container1 {
  margin-bottom: 50px; }

.bg-dark {
  font-size: 45px;
  color: aliceblue;
  font-weight: 50px; }

/* ---------------------------------------estilos para servicio----------------------------------------------------------------*/
/*---------------------------------------Aplicacion de mixin y extend----------------------------------------------------------*/
.bodyServicio {
  font-family: "Montserrat", sans-serif;
  background-color: #b2e6dd; }

.h1Servicios {
  font-size: 40px;
  color: aliceblue;
  text-align: center;
  align-items: center;
  font-weight: 400; }

.seccionServicios {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px; }

.servicio__ul {
  margin-top: 50px; }

.lista {
  list-style-type: none;
  padding-top: 5px;
  align-items: center;
  margin-bottom: 25px; }

.titular {
  display: flex;
  flex-direction: column;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: black;
  align-content: center; }

.imgServicios {
  margin-top: 60px;
  height: 450px;
  width: 700px;
  border-radius: 10px; }

.articleServicios, .lista {
  display: flex;
  justify-content: space-around; }

/*-------------------------------------------estilos para galeria-----------------------------------------------------------*/
.h1galeria {
  font-size: 50px;
  text-align: center;
  color: aliceblue;
  background-color: black; }

.contenedor {
  width: 100%;
  margin: auto; }

video {
  width: 100%; }

.galeria-columna {
  margin: 10px; }

.galeria .contenedor {
  display: grid; }

@media (min-width: 600px) {
  .galeria .contenedor {
    grid-template-columns: repeat(2, 50%); } }

@media (min-width: 768px) {
  .galeria .contenedor {
    grid-template-columns: repeat(3, 33.3%); } }

@media (min-width: 1024px) {
  .galeria .contenedor {
    grid-template-columns: repeat(4, 25%); }
  .contenedor {
    width: 1024px; } }

@media (min-width: 1200px) {
  .contenedor {
    width: 1200px; } }

/*-------------------------------------------estilos para contacto ------------------------------------------------------------------*/
/* ------------------------------------Se realizo y maqueto com boostrap y stilos nesting---------------------------------------------------*/
.titularC {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0 50px; }
  .titularC h1 {
    color: aliceblue; }

.sectionContacto {
  display: flex;
  justify-content: center; }
  .sectionContacto iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 30%; }

.mapa {
  display: flex;
  flex-direction: column; }
  .mapa h3 {
    text-align: center; }
  .mapa a {
    display: flex;
    font-weight: 300px;
    font-size: large;
    color: white;
    justify-content: center;
    border-radius: 30%;
    background-color: black; }
  .mapa a:hover {
    color: #a29999; }

/*----------------------------------------@media general--------------------------------------------------*/
@media all and (max-width: 1195px) {
  .menu {
    flex-direction: column;
    height: auto; }
  .articleServicios, .lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .headerInicio {
    height: auto; }
  .container1 {
    height: auto; }
  .seccionServicios {
    height: auto; }
  .servicio__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }

@media all and (max-width: 960px) {
  .off {
    display: none; }
  .servicio__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .bg-dark {
    text-align: center; } }

@media all and (max-width: 720px) {
  .imgServicios {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center; }
  .lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }
  .tamaño {
    font-size: 20px; }
  .servicio__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .footer__pie {
    display: flex;
    flex-direction: column; }
  .footer {
    height: auto; }
    .footer .footer__informacion {
      font-size: 15px;
      text-align: center; }
  .texto-principal li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px; }
  .h1-index {
    font-size: 30px; }
  .text-lg-center {
    text-align: center; } }

@media all and (max-width: 500px) {
  .servicio__ul li {
    font-size: 18px; }
  iframe {
    width: 300px; } }

@media all and (max-width: 376px) {
  .texto-principal li h4 {
    display: none; }
  .imgServicios {
    width: 300px;
    height: 300px; }
  .servicio__ul li {
    font-size: 16px; } }

/*-----------------------------------------------------animacion------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {
  .img1 {
    animation: img1-spin infinite 5s linear; } }

@keyframes img1-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
