@media all and (max-width: 1195px) {
  .menu {
    flex-direction: column;
    height: auto;
  }
  .articleServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headerInicio {
    height: auto;
  }
  .container1 {
    height: auto;
  }
  .seccionServicios {
    height: auto;
  }
  .servicio__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media all and (max-width: 960px) {
  .off {
    display: none;
  }
  .servicio__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bg-dark {
    text-align: center;
  }
}
@media all and (max-width: 720px) {
  .imgServicios {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
  }
  .lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .tamaño {
    font-size: 20px;
  }
  .servicio__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__pie {
    display: flex;
    flex-direction: column;
  }
  .footer {
    height: auto;
    .footer__informacion {
      font-size: 15px;
      text-align: center;
    }
  }

  .texto-principal {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 20px;
    }
  }
  .h1-index {
    font-size: 30px;
  }
  .text-lg-center {
    text-align: center;
  }
}
@media all and (max-width: 500px) {
  .servicio__ul {
    li {
      font-size: 18px;
    }
  }
  iframe {
    width: 300px;
  }
}
@media all and (max-width: 376px) {
  .texto-principal {
    li {
      h4 {
        display: none;
      }
    }
  }
  .imgServicios {
    width: 300px;
    height: 300px;
  }
  .servicio__ul {
    li {
      font-size: 16px;
    }
  }
}
