/*estilos generales */
@import "variables";
@import "estilosgenerales";
@mixin flex($parametro1, $parametro2) {
  display: $parametro1;
  flex-direction: $parametro2;
}

/*-------------------------------------------estilos para Inicio---------------------------------------------------------------*/
.bodyInicio {
  font-family: "Montserrat", sans-serif;
  background: url(../imagenes/Home.png);
  background-position: center;

  background-size: cover;
}
.headerInicio {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}
.menu {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: $altura + 20;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/*------------------------------------------import del logo componente con nesting---------------------------------------------*/
@import "logo";

/*------------------------------------------import nav paginas componente con nesting---------------------------------------*/
@import "seccionNavPages";

/*------------------------------------------import seccionNavIconos componente con nesting----------------------------------*/
@import "seccionNavIconos";

.texto-principal {
  height: 700px;
  @include flex(flex, column);
}
.h1-index {
  font-family: "lora", serif;
  font-size: 40px;
  color: aliceblue;
  font-weight: 300px;
  background-color: $color;
  line-height: 1.6;
  text-align: center;
  margin-top: 5px;
}

ul {
  li {
    font-size: 30px;
  }
}
.ulInicio {
  height: 100%;
  list-style-type: none;
  @include flex(flex, column);
  justify-content: space-around;
  margin-top: 15px;
}
.liCenter {
  display: flex;
  align-items: center;
}
.img1 {
  width: 100px;
  height: $altura + 50;
  padding: 10px;
  border-radius: 30%;
}

/*------------------------------------------------estilos aplicados nosotros.html---------------------------------------------------------*/
.bodyNosotros {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(178, 230, 221);
}
.container1 {
  height: 100vh;
}

.bg-dark {
  font-size: 45px;
  color: aliceblue;
  font-weight: 50px;
}

/* ---------------------------------------estilos para servicio----------------------------------------------------------------*/
/*---------------------------------------Aplicacion de mixin y extend----------------------------------------------------------*/
.h1Servicios {
  font-size: 40px;
}
.altoServicio {
  height: 100vh;
}
.seccionServicios {
  @include flex(flex, column);
}

.lista {
  list-style-type: none;
  @extend .articleServicios;
  padding-top: 5px;
  align-items: center;
}

.titular {
  @include flex(flex, column);
  margin: 20px;
  padding-bottom: 20px;
  align-items: center;
}
.imgServicios {
  height: $altura * 9;
  width: 700px;
  border-radius: 10px;
}

.articleServicios {
  display: flex;
  justify-content: space-around;
}

/*-------------------------------------------estilos para galeria-----------------------------------------------------------*/
.h1galeria {
  font-size: 70px;
  text-align: center;
}
.contenedor {
  width: 100%;
  margin: auto;
}
video {
  width: 100%;
}
.galeria-columna {
  margin: 10px;
}
.galeria {
  .contenedor {
    display: grid;
  }
}
@media (min-width: 600px) {
  .galeria {
    .contenedor {
      grid-template-columns: repeat(2, 50%);
    }
  }
}
@media (min-width: 768px) {
  .galeria {
    .contenedor {
      grid-template-columns: repeat(3, 33.3%);
    }
  }
}
@media (min-width: 1024px) {
  .galeria {
    .contenedor {
      grid-template-columns: repeat(4, 25%);
    }
  }
  .contenedor {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1200px;
  }
}

/*-------------------------------------------estilos para contacto ------------------------------------------------------------------*/
/* ------------------------------------Se realizo y maqueto com boostrap y stilos nesting---------------------------------------------------*/
.bodyContacto {
  @extend .bodyNosotros;
}
.sectionContacto {
  display: flex;
  justify-content: center;

  iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }
}
.mapa {
  @include flex(flex, column);

  h3 {
    text-align: center;
  }
}

/*----------------------------------------@media general--------------------------------------------------*/
@import "mediageneral";
/*-----------------------------------------------------animacion------------------------------------------*/
@import "animacion";
